.loading-img {
    animation: rotate-beer infinite 4s linear;
    height: 40vmin;
    pointer-events: none;
    width: 140px;
    height: 140px;
}

@keyframes rotate-beer {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.radio-button-container label {
    // border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    margin-bottom: 2px;
    padding: 2px 12px;
}

.radio-button-container label:hover {
    border-bottom: 2px solid #000;
}

.radio-button-container label input {
    vertical-align: text-top;
    margin-left: 4px;
}

.radio-button-container label:hover {
    background-color: #cde2fb;
    cursor: pointer;
}

.radio-search-by {
    font-weight: 700;
    margin-right: .5rem;
}

.beer-mug {
    position: absolute;
    right: 10px;
    top: 17px;
    height: 25px;
    display: inline-block;
    z-index: 10000;
    // background-color: green;
    background-image: url('http://cdn.taboola.com/static/impl/png/beer-mug-transparent.png');
    height: 20px; /* You must set a specified height */
    width: 20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.pub-input-search.form-control {
    border: 2px solid #000;
    border-radius: 5px;
    height: 40px;
    letter-spacing: 1px;
    margin-top: 7px;
    outline: none;
}

.pub-input-search.form-control:focus {
    border: 3px solid #000;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: none;
}